@page "/formats/edit/{Id}"
@using BussinessLayer;
@using ServiceLayer;
@inject FormatManager formatManager;
@inject NavigationManager navigationManager;
@inject ErrorModel errorModel;

<h3>Edit</h3>

<h4>Format</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm Model="@Model" OnValidSubmit="OnUpdated">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div class="form-group">
                <label class="control-label"></label>
                <InputText @bind-Value="Model.Extension" class="form-control" />
                <ValidationMessage For=@( () => Model.Extension) />
            </div>
            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-primary" />
            </div>

            <label id="error" class="text-danger">@errorModel.Description</label>
        </EditForm>
    </div>
</div>

<div>
    <a href="formats">Back to List</a>
</div>

@code {
    Format Model = new Format();

    [Parameter]
    public string Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Model = await formatManager.ReadAsync(Id, false, false);
    }

    async Task OnUpdated()
    {
        try
        {
            await formatManager.UpdateAsync(Model);
            navigationManager.NavigateTo("formats");
        }
        catch (Exception ex)
        {
            errorModel.Code = "DB";
            errorModel.Description = ex.InnerException != null ? ex.InnerException.Message : ex.Message;
        }

    }


}
